<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        section {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
            max-width: 600px;
            width: 100%;
        }

        h2 {
            margin-top: 0;
            font-size: 24px;
            color: #333;
        }

        .data-item {
            margin-bottom: 10px;
        }

        .data-label {
            font-weight: bold;
            color: #666;
        }

        .data-value {
            color: #333;
            margin-left: 10px;
        }

        .thank-you {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
            color: #4caf50;
        }

        .addons-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .addon {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 10px;
            padding: 15px;
            width: 100%;
            text-align: center;
        }

        .addon p {
            margin: 0;
            font-size: 16px;
            color: #333;
        }

        @media screen and (max-width: 600px) {
            section {
                margin: 10px;
                padding: 10px;
            }
        }
    </style>
</head>

<body>

    <section>
        <h2>Booking Information</h2>
        <div class="data-item">
            <span class="data-label">Booking Id:</span>
            <span class="data-value">
                <%= mailData?._id %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Name:</span>
            <span class="data-value">
                <%= mailData?.bookedBy?.name %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Email:</span>
            <span class="data-value">
                <%= mailData?.bookedBy?.email %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Theater:</span>
            <span class="data-value">
                <%= mailData?.theater?.theaterName %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Slot:</span>
            <span class="data-value">
                <%= mailData?.bookedSlot %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Date:</span>
            <span class="data-value">
                <%= mailData?.bookedDate %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Number:</span>
            <span class="data-value">
                <%= mailData?.bookedBy?.whatsappNumber %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Cake:</span>
            <span class="data-value">
                <%= mailData?.cake?.name %>
            </span>
        </div>
        <div class="data-item">
            <span class="data-label">Ceremony:</span>
            <span class="data-value">
                <%= mailData?.ceremonyType?.type %>
            </span>
        </div>

        <% if (mailData?.ceremonyTypeLabels) { %>
            <section>
                <% if (mailData.ceremonyTypeLabels && mailData.ceremonyTypeLabels.length> 0) {
                    %>
                    <% mailData.ceremonyTypeLabels.forEach(function(label) { %>
                        <div class="data-item">
                            <span class="data-label">
                                <%= label.label %>:
                            </span>
                            <span class="data-value">
                                <%= label.value %>
                            </span>
                        </div>
                        <% }); %>
                            <% } %>
            </section>
            <% } %>

                <div class="data-item">
                    <span class="data-label">Advance Payment:</span>
                    <span class="data-value">
                        700
                    </span>
                </div>
                <div class="data-item">
                    <span class="data-label">Remaining Payment:</span>
                    <span class="data-value">
                        <%= mailData?.remainingPrice %>
                    </span>
                </div>
                <div class="data-item">
                    <span class="data-label">Total Price:</span>
                    <span class="data-value">
                        <%= mailData?.price %>
                    </span>
                </div>
    </section>


    <% if (mailData?.addOns && mailData?.addOns?.length> 0) { %>
        <section>
            <h2>Add-ons</h2>
            <div class="addons-container">
                <% mailData?.addOns?.forEach(function(addOn) { %>
                    <div class="addon">
                        <p><strong>
                                <%= addOn.title %>
                            </strong><br>
                            <%= addOn.price %>
                        </p>
                    </div>
                    <% }); %>
            </div>
        </section>
        <% } %>

            <div class="thank-you">
                <p>Thank you for choosing Partyscape. We look forward to hosting your event!</p>
            </div>
</body>

</html>