<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Booking Confirmation</title>
</head>

<body>
    <h1>New Booking Created!</h1>

    <h2>Booking Details:</h2>
    <ul>
        <li><strong>Name:</strong>
            <!-- <%= booking.name %> -->
        </li>
        <li><strong>Phone Number:</strong>
            <!-- <%= booking.phoneNumber %> -->
        </li>
        <li><strong>Email:</strong>
            <!-- <%= booking.email %> -->
        </li>
        <li><strong>Booking ID:</strong>
            <!-- <%= booking.bookingId %> -->
        </li>
        <li><strong>Razorpay ID:</strong>
            <!-- <%= booking.razorpayId %> -->
        </li>
    </ul>

    <p>Thank you!!</p>

    <p><em>Thank you!</em></p>
</body>

</html>